.top{
  display: inline-block;
  width: 100%;
}

button {
    background: #E1E1DF;
    color: black;
    padding: 7px 10px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
    float: left;
    width: 20%;
    margin-top:11%;
    margin-left: 15%;
}

.title{
  margin-left:5%;
  font-size: 35px;
  font-style: bold;
  float: left;
  width: 50%;
}

.container{
  margin-left: 5%;
  width: 95%;
}

.photos{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 20px;
}
.photos img {
  height: 100px;
  width: 100px;
  padding-top: 5px;
  padding-right: 5px;
  display: inline-block;
  float: left;
}

.photos a {
  float: left;
  text-align: center;
  display: inline-block;
  /* width: 30%; */
  color: black;
}

.name{
  position: relative;
  font-size: 10px;
  font-family: sans-serif;
}
