.food-category {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 20px;
}

.food-heading {
  font-family: sans-serif;
  padding: 2px;
}

.food-category a {
  float: left;
  text-align: center;
  display: inline-block;
  /* width: 30%; */
  color: black;
}

.food-category img {
  height: 100px;
  width: 100px;
  padding-top: 5px;
  padding-right: 3px;
  display: inline-block;
  float: left;
}

.food-category p {
  position: relative;
  font-size: 10px;
  font-family: sans-serif;
}
