.search-container {
    padding: 20px 5px 20px 5px;
    text-align: center;
    /* margin: 100px auto; */
    /* width: 300px; */
    /* height: 50px; */
}
.search-field {
    /* width: 60%;
    height: 30px;
    line-height: 20px;
    font-size: 16px;
    margin-right: 10px;
    padding: 2px; */
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.search-form .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
/* .search-button {
    padding: 4px;
    line-height: 20px;
    font-size: 16px;
} */

img {
  width:150px;
  height:150px;
}

#image {
  left: 0%;
  float: left;
}

#recipe {
  margin-left: 145px;
  float:right;
  width: 100%;
  height: 33%;
}

#description {
  font-family: sans-serif;
  padding-left: 25px;
  padding-bottom: 15px;
}

.icon-bar {
    overflow: hidden; /* Overflow due to float */
    background-color: #ed9977ff;
    position: fixed;
    bottom: 0;
    width: 100%; /* Full-width */
    margin-left: -9px;
}

.icon-bar a {
    float: left; /* Float links side by side */
    display: block;
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 2px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* Black text color */
    font-size: 36px; /* Increased font size */
    text-align: center;
    margin-bottom: -10px;
    /* display: inline-block; */
}

.icon-bar p {
  position: relative;
  bottom: 10px;
  font-size: 10px;
  font-family: sans-serif;
}

.icon-bar a:hover {
    background-color: #FFC0A7; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
