img {
  width:150px;
  height:150px;
}

#image {
  left: 0%;
  float: left;
}

#recipe {
  margin-left: 145px;
  float:right;
  width: 100%;
  height: 33%;
}

#description {
  padding-left: 25px;
  padding-bottom: 15px;
}
