.results {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 20px;
}

.results a {
  float: left;
  text-align: center;
  display: inline-block;
  /* width: 30%; */
  color: black;
}

.results img {
  height: 110px;
  width: 110px;
  padding-top: 5px;
  padding-right: 5px;
  display: inline-block;
  float: left;
}

.results p {
  position: relative;
  font-size: 10px;
  font-family: sans-serif;
}
