body {
  font-family: sans-serif;
}

.recipe-name {
  background-color: #9BB4EC;
  text-align: center;
}

.recipe-image img {
  width: 100%;
}

.number {
  font-size: 20px;
  font-weight: bold;
  color: #9BB4EC
}

button{
  float: right;
  position: relative;
  border: none;
  padding-right: 10px;
  background-color: #9BB4EC;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
