.icon-bar {
    overflow: hidden; /* Overflow due to float */
    background-color: #ed9977ff;
    position: fixed;
    bottom: 0;
    width: 100%; /* Full-width */
    margin-left: -9px;
}

.icon-bar img {
  width: 29px;
  height: 29px;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 2px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* Black text color */
    font-size: 36px; /* Increased font size */
    margin-bottom: -10px;
    display: inline-block;
}

.icon-bar p {
  position: relative;
  bottom: 10px;
  font-size: 10px;
  font-family: sans-serif;
}

.icon-bar a:hover {
    background-color: #FFC0A7; /* Add a hover color */
}

.icon-bar h2{

  font-size: 20px;
  font-family: sans-serif;
  text-align: center;

}

.back-bar {
    overflow: hidden; /* Overflow due to float */
    background-color: #ed9977ff;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 4%;
    width: 100%; /* Full-width */
    margin-left: -9px;
}
.back-bar p{
  font-size:8px;
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
