
h1 {
  position: relative;
  margin-right: 25%;
  font-size: 20px;
  font-family: 'Mina',sans-serif;
}

h2 {
  font-size: 20px;
  font-family: 'Mina',sans-serif;
}

h3{
  font-size: 14px;
  font-family: 'Mina',sans-serif;
}

button{
  position: relative;
  border: none;

  /* right: -20%; */
  background-color: lightblue;
}

input{
  width: 75%;
  border-style: solid;
}

.pic{
  float: left;
  width: 40%;
  margin-top:12%;
  margin-left: 5%;
  position: relative;
}

.profile-top{
  margin-top:10%;
  float:right;
  width: 40%;
}

.profile-info{
  position: relative;
  float: left;
  margin-left: 5%;
  top: 10px;
  width:100%;
}

.food-category {
  float:left;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 20px;
  overflow-x: scroll;
  white-space: nowrap;
}

.food-category a {
  float: left;
  text-align: center;
  display: grid;
  /* width: 30%; */
  color: black;
}

.food-category img {
  height: 100px;
  width: 100px;
  padding-top: 5px;
  padding-right: 3px;
  display: inline-block;
  float: left;
}

.food-category p {
  position: relative;
  font-size: 10px;
  font-family: sans-serif;
  display: grid;
  overflow: hidden;
}
