img {
  width:150px;
  height:150px;
}

#image {
  left: 0%;
  float: left;
  padding-right: 10px;
}

#recipe {
  margin-left: 145px;
  float:right;
  width: 100%;
  height: 33%;
}

#description {
  font-family: sans-serif;
  padding-left: 20px;
  padding-bottom: 15px;
}

#description p {
  font-size: 14px;
}
